{%extends 'base.html'%}
{%block title%}Login{%endblock title%}
{%block content%}
{% include 'navbar.html'%}
{%if error == "no"%}
    <script>
        alert("Record created sucessfully.")
        window.location="{% url 'view_doctor' %}"
    </script>
{% endif%}
{% if error == "yes"%}
    <script>
        alert("Record is not created.Plese try again.")
    </script>
{% endif %}
<div class="container w-75">
    <h2 class="text-center">Add Doctors</h2>
    <form method="post">
        {% csrf_token %}
        <label >Name</label>
        <input type="text" class="form-control" name="name">
        <label>Mobile</label>
        <input class="form-control" type="text" name="mob">
        <label >Special</label>
        <input class="form-control" type="text" name="sp">
        <input class="form-control btn btn-primary" type="submit" >

    </form>

</div>
{% include 'footer.html'%}
{%endblock content%}
