{%extends 'base.html'%}
{%block content%}
{% include 'navbar.html'%}
<h1 class="text-center">APPOINTMENTS</h1>
<div class="container mt-5 display" >
    <table class="table table-striped" id="example">
        <thead>
            <tr>
                <th>No</th>
                <th>Doctor</th>
                <th>Pateint</th>
                <th>Date</th>
                <th>Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in a%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.doctor}}</td>
                <td>{{i.pateint}}</td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td><a class="btn btn-danger" onclick="return confirm('Are you sure want to delete?')" href="{% url 'delete_appointment' i.id%}">Delete</a></td>

            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%include 'footer.html'%}
{%endblock content%}